adblock @ file:///build/python-adblock/src/python-adblock-0.6.0/target/wheels/adblock-0.0.0-cp37-abi3-manylinux_2_34_x86_64.whl#sha256=3d8e2c7eace7cf73377a8e21e9f1e705d7279370bed801b8a125f6cda36f8d9d
annotated-types==0.7.0
appdirs==1.4.4
arandr==0.1.11
argcomplete==3.4.0
attrs==23.2.1.dev0
auto-cpufreq==1
autocommand==2.2.2
beautifulsoup4==4.12.3
btrfsutil==6.10
build==1.2.2
CacheControl==0.14.1
cachy==0.3.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
cleo==2.1.0
click==8.1.7
clickgen==2.2.5
colorama==0.4.6
coverage==7.6.3
crashtest==0.4.1
cryptography==42.0.8
cssselect==1.2.0
distlib==0.3.8
distro==1.9.0
dulwich==0.22.4
dunamai==1.22.0
fastjsonschema==2.20.0
filelock==3.13.3
git-filter-repo==2.38.0
html5lib==1.1
httplib2==0.22.0
hypothesis==6.118.0
idna==3.10
inflect==7.4.0
iniconfig==2.0.0
installer==0.7.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.2
jaraco.text==4.0.0
jeepney==0.8.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
keyring==25.2.1
lark==1.2.2
lensfun==0.3.4
lockfile==0.12.2
lxml==5.3.0
Mako==1.3.6.dev0
Markdown==3.7
MarkupSafe==2.1.5
meson==1.6.0
more-itertools==10.3.0
msgpack==1.0.5
netsnmp-python==1.0a1
nftables==0.1
numpy==2.1.3
ordered-set==4.1.0
packaging==24.1
pexpect==4.9.0
pillow==11.0.0
pipx==1.6.0
pkginfo==1.10.0
platformdirs==4.3.6
pluggy==1.5.0
ply==3.11
poetry==1.8.4
poetry-core==1.9.0
poetry-dynamic-versioning==1.4.1
poetry-plugin-export==1.8.0
psutil==6.1.0
ptyprocess==0.7.0
pulsectl==24.11.0
pulsemixer==1.5.1
pwquality==1.4.5
pycairo==1.27.0
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.18.0
PyGObject==3.50.0
pyinotify==0.9.6
pyparsing==3.1.2
pyproject_hooks==1.2.0
pyrsistent==0.20.0
pyserial==3.5
pytest==8.3.3
pywal16==3.6.0
PyYAML==6.0.2
ranger-fm==1.9.3
rapidfuzz==3.6.2
referencing==0.35.1
Reflector==2023.6.28.0.36.1
requests==2.32.3
requests-toolbelt==1.0.0
rpds-py==0.19.0
scour==0.38.2
SecretStorage==3.3.3
setuptools==69.5.1
shellingham==1.5.4
shtab==1.7.2.dev0+g61ec99d.d20241005
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.6
TBB==0.2
termcolor==2.4.0
tldr==3.3.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.13.2
tqdm==4.67.0
trove-classifiers==2024.10.21.16
typeguard==4.3.0
typing_extensions==4.12.2
urllib3==1.26.20
userpath==1.9.2
validate-pyproject==0.22
virtualenv==20.27.1
volctl==0.9.4
webencodings==0.5.1
websockets==12.0
wheel==0.44.0
wxPython==4.2.1
yt-dlp==2024.11.4
zstandard==0.22.0
